.user-component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component__no-border{
    border-bottom: 0;
}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-component__title{
    font-weight: 600;
    font-size: 18px;
}
.user-component__subtitle{
    margin-top: 8px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl{
    width: 70px;
    height: 70px;
}
.user-component__avatar--sm{
    width: 58px;
    height: 58px;
    border-radius: 23px;
}